
<header class="py-4 px-4 bg-warning d-flex justify-content-between">
    <div class="d-flex flex-column align-items-center">
        <div>
            <img class="logo" src="../../assets/imgs/logo2.png" alt="">
        </div>
        <div>
            <b class="text-dark text-capitalize">{{usuarioSesion.nombreusuario}}</b>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center container__menu">
       <!--  <input type="button"  class="btn btn-light px-2 py-1"value="Cerrar sesion"> -->
        <span (click)="ejecutarNavbar()"><img class="" src="../../assets/imgs/menu.png" alt=""></span>
    </div>
</header>
<nav class="bg-light border-bottom  border-dark">
</nav>
<section class="menu__bar" (click)="cerrarNavbar($event)" #menunavbar [style.display]="displayon" ngClass="animationon">
    <nav>
        <ul>
            <li (click)="cerrarSesion()"> Cerrar sesion  </li>
            <li (click)="abrirComponenteEditarPerfil()"> Editar perfil </li>
            <li (click)="pedidosDomiciliario.traerPedidos('enviado')">Pedidos pendientes</li>
            <li (click)="pedidosDomiciliario.traerPedidos('entregado')">Pedidos realizados</li>
        </ul>
     </nav>
</section>
    <app-pedidos-domiciliario #pedidosDomiciliario [style.display]="displayPedidosDomiciliario"></app-pedidos-domiciliario>
    <app-editar-perfil #editarperfil [style.display]="displayEditarPerfil"></app-editar-perfil>



