*{
    font-family: 'Exo 2', sans-serif;

}
.title__table h3{
    border-bottom: 3px solid #ffcb3b;
    padding: 0px 20px 7px 20px;
    color:#787878;
}
.btn__borrar{
    width:32px;
    margin-left: 35px;
    cursor:pointer;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px #d4d4d4;
    border-radius: 100px;
    padding:4px;
  }
  .btn__borrar:hover{
    box-shadow: 0px 0px 8px #c4c4c4;
    background-color: #fff;
  }