.title__table h3{
    padding: 0px 20px 7px 20px;
    color:#787878;
    border-bottom: 3px solid #ffcb3b !important;
}
.title{
    padding: 0px 20px 7px 20px;
    color:#787878;
    border-bottom: 3px solid #ffcb3b !important;
}