<section class="m-4 d-flex flex-column">
    <div class="title__table d-flex justify-content-center">
        <h3>{{tituloSectionInput}}</h3>
      </div>
      <div>
        <div class="d-flex justify-content-between align-items-center mx-3 mt-4 mb-2">
            <mat-form-field >
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="filtrarProductos($event)" placeholder="Buscar">
            </mat-form-field>
            <div class="d-flex justify-content-center align-items-center">
              <div>
              </div>
              <div class="d-flex justify-content-center">
                <div class="d-flex">
                  <div>
                    <input type="button" value="Exp PDF" class="btn btn-danger mx-1"  (click)="generarPdf('excel-table-productos')">
                  </div>
                  <div>
                    <input type="button" value="Exp Excel" class="btn btn-success"  (click)="exportexcel()">
                  </div>
                </div>
                <div>
                <app-categoria-producto></app-categoria-producto>
                </div>
                <div>
                  <app-anadir-producto [idProductoSeleccionado]="idProductoSeleccionado" (textoEmitido)="actualizar('actualizar')" #anadirProducto></app-anadir-producto>
                </div>
              </div>
            </div>
          </div>
          <div class="mat-elevation-z8">
              <table mat-table class="w-100"[dataSource]="dataSourceProductos" matSort id="excel-table-productos" > 
                <ng-container matColumnDef="nombreproducto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element" id="{{element.idproducto}}" > {{element.nombreproducto}}  </td>
                </ng-container>
                <ng-container matColumnDef="descripcionproducto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcionproducto}} </td>
                </ng-container>
                 <ng-container matColumnDef="ingredientesproducto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingredientes </th>
                  <td mat-cell *matCellDef="let element"> {{element.ingredientesproducto}} </td>
                </ng-container>
                <ng-container matColumnDef="valorproducto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio </th>
                  <td mat-cell *matCellDef="let element">${{element.valorproducto}} </td>
                </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef > acciones </th>
                    <td mat-cell *matCellDef="let element" (click)="anadirProducto.abrirModal('actualizar')"><div class="container__edit" (click)="seleccionarProductoEditar($event)"><img src="../../../../assets/imgs/editarBlanco.png" alt=""></div> </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[3, 5,10,20]" showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
      </div>
</section>
