<div class="p-4 text-center">
    <div class="d-flex justify-content-center mb-4">
        <h2 class="py-3">{{title}} 📦</h2>
    </div>
</div>
<section class="container__pedidos d-flex justify-content-center flex-wrap">
    <div *ngIf="listaPedidos.length <= 0">
        <h1 class="text-center">Todavia no tienes pedidos 😅</h1>
    </div>
    <div *ngFor="let p of listaPedidos" (click)="escogerPedido($event)">
    <article class="pedido bg-success">
        <table class="w-100" >
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Referencia</td>
                    <td class="py-2 bg-light">{{p.referenciapedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Direccion</td>
                    <td class="py-2 bg-light">{{p.detalledestinopedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Precio</td>
                    <td class="py-2 bg-light">${{p.valorpedido}}</td>
                </tr>
            </table>
            <div class="d-flex align-items-center">
                <input type="button" class="btn btn-success w-100 py-4" value="Ver detalles" (click)="abrirModalDetallePedido()">
            </div>
        </article>
    </div>
</section>
<section class="modal__detallePedido "[style.display]="displayModal" ngClass="animation">
    <div class="modal__header">
        <span class="header__cerrarModal" (click)="abrirModalDetallePedido()" >&times;</span>
    </div>
    <div>
        <div class="text-center container__title">
            <div class="d-flex justify-content-center">
                <h2>Detalle pedido 📦</h2>
            </div>
        </div>
        <div class="container__form d-flex justify-content-center my-5">
            <table class="" >

                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Referencia</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.referenciapedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Direccion</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.detalledestinopedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Telefono</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.telefonopedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Fecha</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.fechapedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Decripcion</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.descripcionpedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Observacion</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.observacionpedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center">
                    <td class="py-2 bg-secondary text-light">Precio</td>
                    <td class="py-2 bg-light">${{pedidoDetalle.valorpedido}}</td>
                </tr>
                <tr class="border-bottom border-secondary text-center" *ngIf="title.toLowerCase() =='pedidos entregados'">
                    <td class="py-2 bg-secondary text-light">Estado</td>
                    <td class="py-2 bg-light">{{pedidoDetalle.estadopedido}}</td>
                </tr>
            </table>
        </div>
        <div class="text-center container__title"  *ngIf="title.toLowerCase() =='pedidos pendientes'">
            <div class="d-flex justify-content-center">
                <h2>Cambiar estado 📦</h2>
            </div>
        </div>
        <div class="container__estados my-5 d-flex  flex-wrap justify-content-center align-items-center"  *ngIf="title.toLowerCase() =='pedidos pendientes'">
            <input type="bottom" value="Entregado" class=" m-1 py-3 btn btn-success" (click)="cambiarEstadoPedido('entregado')">
            <input type="bottom" value="Cancelado" class=" m-1 py-3 btn btn-danger" (click)="cambiarEstadoPedido('cancelado')">
        </div>
        <div class="container__maps my-2 d-flex justify-content-center align-items-center"  *ngIf="title.toLowerCase() =='pedidos pendientes'">
            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15904.813929167169!2d-74.0895296761963!3d4.734682770769744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1668388641668!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
   



